<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--boostrap cdn link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- font awsome cdn link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Admin Rebookat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Categories_62133314/Index">Thể loại</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Products_62133314/Index">Sản phẩm </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Order_62133314/Index">Đơn hàng </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Customer_62133314/Index">Khách hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AdminUsers_62133314/Index">Tài khoản</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AdminUsers_62133314/Login">Đăng xuất</a>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2 class="text-center text-uppercase my-3">@ViewBag.Title</h2>
        <hr />
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/script.js"></script>
</body>
</html>


